.categories {
  &__wrapper {
    display: grid;
    row-gap: 40px;

    @include on-tablet {
      row-gap: 56px;
    }
  }

  &__button {
    display: flex;
    background-color: #f98921;
    width: 100%;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 96px;

    @include on-tablet {
      margin-bottom: 120px;
    }

    @include on-desktop {
      width: 324px;
    }

    @include hover(background-color, #1b2129);

    &:active {
      background-color: #010810;
    }
  }

  &__link {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    line-height: 56px;
    width: 100%;
    text-align: center;
    text-decoration: none;
  }
}

.category {
  &__photos {
    @include page-grid;

    padding: 0;
    margin-bottom: 16px;
  }

  &__link {
    @include on-tablet {
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }

    @include hover(transform, scale(1.1));
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    margin: 0;
    font-weight: 700;
    font-style: Bold;
    font-size: 18px;
    line-height: 140%;
  }
}
