.contact-us {
  &__wrapper {
    padding-inline: 20px;

    @include on-tablet {
      padding-inline: 78px;
    }

    @include on-desktop {
      padding-inline: 120px;
      max-width: 1020px;
      margin-inline: auto;
    }
  }

  &__content {
    @include page-grid;

    padding: 0;
  }

  &__form {
    grid-column: 1 / -1;
    margin: 0;

    &-content {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    @include on-desktop {
      grid-column: 1 / 7;
    }
  }

  &__textarea {
    min-height: 140px;
    resize: none;
  }

  &__input,
  &__textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 14px 16px;
    border: none;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-size: 16px;
    outline: none;
    transition: all 0.5s;

    &::placeholder {
      color: #7e7e83;
    }

    &:hover {
      border: 1px solid #dbdbdb;

      &::placeholder {
        color: #1b2129;
      }
    }

    &:focus {
      border: 2px solid #f98921;
      color: #1b2129;
    }
  }

  &__button {
    margin-top: 32px;
    display: block;
    background-color: #f98921;
    width: 100%;
    height: 56px;
    border: none;
    border-radius: 8px;
    margin-bottom: 48px;

    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    color: #fff;

    @include hover(background-color, #1b2129);

    &:active {
      background-color: #010810;
    }
  }

  &__contact {
    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 8 / -1;
    }
  }

  &__block {
    margin-bottom: 24px;
  }

  &__contact-title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0.15px;
    color: #9393a3;
  }

  &__contact-description {
    margin: 0;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0.15px;
  }

  &__link {
    color: #191919;
    text-decoration: none;
  }
}
